<div><%= link_to 'register', register_path %></div>
<br/>
<div><%= link_to 'sign in', sign_path %></div>

integration iframe below:
<br/>
<br/>
<iframe src="https://int-gamecentrelive.rogers.com/en/support-contact-us" style="width:100%; height:1000px;"></iframe>